header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    color: #fff1b0e0;
    padding: 5px;
    width: 100%;
    font-size: 140%;
    opacity: 0.9;
}

.header-left {
    margin-left: 20px;
}

.header-right {
    display: flex;
    align-items: center;
    margin-right: 20px;
}

.hdr {
    font-size: 20px;
    margin: 0 10px;
    padding: 10px 20px;
    opacity: 0.7;
    border-radius: 50px;
    text-align: center;
    transition: 0.32s transform;
    text-decoration: none;
    color: rgb(250, 183, 106);
    background-color: #382200;
    border: 2px solid #b66e01;
}

.hdr:hover {
    transform: scale(1.1);
    opacity: 0.9;
}

body {
    font-family: Arial, sans-serif;
    background-image: url('/images/t2.jpg'); /* Додаємо фон для всього тіла сторінки */
    background-size: cover; /* Робимо фон, що покриває всю сторінку */
    background-position: center; /* Центруємо фон */
    margin: 0px;
}

footer {
    background-color: #333;
    color: #fff1b0e0;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 5%;
    opacity: 0.9;
    margin-bottom: 0px;
}

.products {
    text-align: center;
}

.topT {
    color: #fff;
}

.order-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-left: 10%;
    margin-right: 10%;
}

.product-grid {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 50%;
    padding-left: 10%;
    padding-right: 30%;
}

.product-card {
    background-color: #382200;
    border: 1px solid #b66e01;
    opacity: 0.85;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    color: #fff;
    transition: 0.4s transform;
}

.product-card p {
    color: rgb(250, 183, 106);
}

.total {
    background-color: #382200;
    border: 1px solid #b66e01;
    opacity: 0.85;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    color: #fff;
    transition: 0.4s transform;
}

.total p {
    color: rgb(250, 183, 106);
    margin: 10px auto;
    width: 50%;
}

.buttonProp {
    color: rgb(250, 183, 106);
}

.buttonOrder {
    background-color: #382200;
    border: 1px solid #b66e01;
    color: #fff1b0e0;
    padding: 15px;
    border-radius: 20px;
    text-align: center;
    display: inline-block;
    margin-top: 10px;
    width: 40%;
    margin-left: 30%;
}

.buttonOrder:hover {
    transform: rotate(-1deg) scale(1.1);
}

input {
    background-color: #382200;
    border: 2px solid #b66e01;
    padding: 15px;
    border-radius: 20px;
    opacity: 0.8;
    margin-bottom: 10px;
    width: 100%;
    color: #fff1b0e0;
}
input:focus {
    transform: scale(1.1);
}

.order-form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 45%;
    font-size: 100%;
}

p {
    color: #b66e01;

}
