body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    text-align: center;
    padding: 50px;
    background-image: url('/images/t2.jpg'); /* Додаємо фон для всього тіла сторінки */
    background-size: cover; /* Робимо фон, що покриває всю сторінку */
    background-position: center; /* Центруємо фон */
}

h1 {
    color: #333;
}
button {
    background-color: aqua;
}
