<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title> page1</title>
        <link rel="stylesheet" href="index.css">
    </head>
    <body>
        
        <p> Lorem <a href="https://www.youtube.com/watch?v=mA6EaGs6rak&t=1s">Ipsum </a> is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p> It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the <br> release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
        <div>
            <h1>jpeg</h1>
            <img src="images/schirmer-cafe-creme-1000g-800x800.jpg" width="200">
            <img src="images/5749420451_w640_h640_kofe-v-zernah.webp" width="90">
        </div>
        
        <audio controls>
            <source src="music/River_-_Solo_(musmore.com).mp3" type="audio/mpeg" >
        </audio>
        <audio controls>
            <source src="music/River_-_Solo_(musmore.com).mp3" type="audio/mpeg" >
        </audio>
        <audio controls>
            <source src="music/River_-_Solo_(musmore.com).mp3" type="audio/mpeg" >
        </audio>
        <video controls width="200">
            <source src="videos/videoplayback.webm">
        </video>
</html>