<meta http-equiv="Content-type" content="text/html;charset=UTF-8 /">

Open <a href="https://www.youtube.com/" target="_blank">_blank</a>v c
Open <a href="https://www.youtube.com/" target="_parent">_parent</a>v c
Open <a href="https://www.youtube.com/" target="_self">_self</a>v c
Open <a href="https://www.youtube.com/" target="_top">_top</a>v c
<h1> fdgdfsg</h1>
<h2> dfgdfg</h2>
<h3> Загdgdfgоловок3</h3>
<h4> Загdgdfоловок4</h4>
<h5> Загоgdfgdfловок5</h5>
<h6> Загоdgfdfgловок6</h6>

 <strong> жирний </strong> текст <br>
<em>курсивний</em> текст <br>
<small> маленький </small> текст