<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8"/>
    <title> тест сторінка</title>
    <link rel="stylesheet" type="text/css" th:href="@{css/aboutUs.css}">

</head>
<header>
    <div class="header-left">Мій Магазин</div>
    <div class="header-right">
        <a href="/" class="hdr">Головна</a>
        <a href="/aboutUs" class="hdr">Про нас</a>
        <a href="/shop" class="hdr">Магазин</a>
        <a href="/contacts" class="hdr">Контакти</a>
    </div>
</header>
<body>
<p id="text">Ласкаво запрошуємо до Aliespresso – вашого вірного провідника у світі вишуканої кави та кавового обладнання! У нашому магазині ви знайдете все необхідне для створення ідеального кавового еспресо та неперевершеного настрою. Збалансований асортимент кавових зерен з усього світу дозволить вам обрати саме той смак, який вас вразить. Від ніжних арабік до міцних робуст – ми пропонуємо лише найкращі сорти, які відповідають навіть найвибагливішим гурманам. У нашому магазині ви також знайдете широкий вибір кавових машин та аксесуарів, які допоможуть вам створити справжнє шедевральне еспресо просто вдома. Від компактних кавових автоматів до стильних капсульних систем – ми пропонуємо тільки найсучасніше обладнання від провідних виробників. Обирайте "AromaBlend" – де якість і надійність зустрічаються зі смаком та елегантністю. <br> <br>Зверніться до нас сьогодні та отримайте можливість насолоджуватися кращою кавою кожен день!</p>

</body>

<footer>
    <p>&copy; 2024 Мій Магазин. Всі права захищені. Aле це не точно.</p>
</footer>

</html>






























