<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8"/>
    <title> тест сторінка</title>
    <link rel="stylesheet" type="text/css" th:href="@{css/contacts.css}">


</head>

<body>

<header>
    <div class="header-left">Мій Магазин</div>
    <div class="header-right">
        <a href="/" class="hdr">Головна</a>
        <a href="/aboutUs" class="hdr">Про нас</a>
        <a href="/shop" class="hdr">Магазин</a>
        <a href="/contacts" class="hdr">Контакти</a>
    </div>
</header>
<br>
<br>
<br>
<a href="https://www.cmegroup.com/company/nymex.html" class="cont l1">Нью-Йоркська товарна біржа (NYMEX)</a><br>
<a href="https://www.lme.com/" class="cont l2">Лондонська товарна біржа (LME)</a><br>
<a href="https://www.ice.com/index" class="cont l1">Інтерконтинентальна біржа (ICE)</a><br>
<a href="https://www.cmegroup.com/company/cbot.html" class="cont l2">Сікагська товарна біржа (CBOT)</a><br>
<a href="пп1" class="cont l1">Спеціаліст з обробки кави: Олег</a><br>
<a href="пп2" class="cont l2">Спеціаліст з обробки кави: Інокентій</a><br>
<a href="пп2" class="cont l1">Постачальник кави : Владислав</a><br>
<a href="пп2" class="cont l2">Майстер обжарювання кави: Арсен</a><br>
<a href="пп2" class="cont l1">Майстер обжарювання кави: Ігнат</a><br>
<a href="пп2" class="cont l2">Майстер обжарювання кави: Орест</a><br>
<a href="пп2l" class="cont l1">Менеджер кав'ярні: Анастасія</a><br>



<footer>
    <p>&copy; 2024 Мій Магазин. Всі права захищені. Aле це не точно.</p>
</footer>

</body>

</html>