<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8"/>
    <title> тест сторінка</title>
    <link href="contacts.css" rel="Stylesheet" type="text/CSS"/>
</head>

<body>

<header>
    <div class="header-left">Мій Магазин</div>
    <div class="header-right">
        <a href="#" class="link la2">Головна</a>
        <a href="#" class="link la2">Про нас</a>
        <a href="#" class="link la2">Магазин</a>
        <a href="#" class="link la2">Контакти</a>
        <a href="#" class="link la2">Кошик</a>
    </div>
</header>

<h1 class="cont la11"> https://shorturl.at/orMTc</h1>
<h1 class="cont la22"> ssssssss</h1>
<h1 class="cont la11"> aaaaaaaa</h1>
<h1 class="cont la22"> xxxxxxxx</h1>
<h1 class="cont la11"> xxxxxxxx</h1>
<h1 class="cont la22"> xxxxxxxx</h1>
<h1 class="cont la11"> xxxxxxxx</h1>
<h1 class="cont la22"> xxxxxxxx</h1>
<h1 class="cont la11"> xxxxxxxx</h1>
</body>

</html>