<!DOCTYPE html>
<head>
    <title>Aliespresso</title>
    <link rel="stylesheet" type="text/css" th:href="@{css/home.css}">

</head>
<!-- Шапка -->
<header>
    <div class="header-left">Мій Магазин</div>
    <div class="header-right">
        <a href="/" class="hdr">Головна</a>
        <a href="/shop" class="hdr">Магазин</a>
        <a href="/basket" class="hdr">Кошик</a>
        <a href="/contacts" class="hdr">Контакти</a>
        <a href="/aboutUs" class="hdr">Про нас</a>
    </div>
</header>
<body>

<main>
    <section class="banner">
        <h1>Ласкаво просимо до нашого магазину!</h1>
        <p>Знайдіть найкращі пропозиції тут</p>
        <a href="/shop" class="button">Почати покупки</a>
    </section>

    <section class="products">
        <h2 class="topT">Популярні товари</h2>
        <div class="product-grid">
            <div class="product-card">
                <img src="/images/c14.jpg" alt="Товар 1">
                <h3>Кава Blaser Opera (250 г), зерно</h3>
                <p>Ціна: 330 ₴</p>
                <a href="/basket" class="buttonProp">Купити</a>
            </div>
            <div class="product-card">
                <img src="/images/c15.jpg" alt="Товар 1">
                <h3>Кава Dallmayr Crema d’Oro Selektion Hakuna Matata (1 кг), зерно</h3>
                <p>Ціна: 549 ₴</p>
                <a href="/basket" class="buttonProp">Купити</a>
            </div>
            <div class="product-card">
                <img src="/images/c16.jpg" alt="Товар 1">
                <h3>Кава Dallmayr Crema Prodomo (1 кг), зерно</h3>
                <p>Ціна: 545 ₴</p>
                <a href="/basket" class="buttonProp">Купити</a>
            </div>
            <div class="product-card">
                <img src="/images/c17.jpg" alt="Товар 1">
                <h3>Кава Dallmayr Crema d´Oro Intensa (1 кг), зерно</h3>
                <p>Ціна: 529 ₴</p>
                <a href="/basket" class="buttonProp">Купити</a>
            </div>
            <div class="product-card">
                <img src="/images/c18.jpg" alt="Товар 1">
                <h3>Кава Caffe Poli Super Bar (1 кг), зерно</h3>
                <p>Ціна: 539 ₴</p>
                <a href="/basket" class="buttonProp">Купити</a>
                ">Купити</a>
            </div>
        </div>
    </section>
</main>

<footer>
    <p id="footerHome">&copy; 2024 Мій Магазин. Всі права захищені. Aле це не точно.</p>
</footer>
</body>
</html>
