
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Aliespresso</title>
    <link rel="stylesheet" type="text/css" th:href="@{css/portfolioP1.css}">
</head>
<body>
<!-- Шапка -->
<header>
    <div class="header-left">Мій Магазин</div>
    <div class="header-right">
        <a href="/" class="hdr">Головна</a>
        <a href="/shop" class="hdr">Магазин</a>
        <a href="/contacts" class="hdr">Кошик</a>
        <a href="/contacts" class="hdr">Контакти</a>
        <a href="/aboutUs" class="hdr">Про нас</a>
    </div>
</header>
<main>
    <br>
    <br>
    <br>
    <br>
    <section class="products">
        <div class="order-container">
            <div class="product-grid">
                <div class="product-card">
                    <h2 class="topT">Майстер обжарювання кави</h2>
                    <img src="/images/p3.jpg" alt="Товар 1">
                    <h3>Савчук Ігнат Петрович</h3>
                    <h4>+380961148086</h4>
                    <p>Ігнат Петрович Савчук – 34-річний майстер обжарювання кави, який відомий своєю майстерністю та пристрастю до кавової культури. Він розпочав свій шлях у кавовій індустрії як бариста, але завжди мав особливий інтерес до процесу обжарювання. Його відданість і наполегливість дозволили йому швидко стати експертом у цій галузі.

                        Ігнат відповідально підходить до кожного етапу обжарювання кавових зерен. Він ретельно відбирає сорти зерен, враховуючи їхнє походження та якість, і експериментує з різними техніками обжарювання, щоб розкрити найкращі аромати і смаки. Його увага до деталей і прагнення до досконалості зробили його незамінним членом команди кав'ярні.

                        Ігнат завжди готовий поділитися своїм досвідом та знаннями з колегами та новачками. Він проводить навчальні сесії та майстер-класи, допомагаючи іншим зрозуміти тонкощі обжарювання кави і надихає їх на подальший розвиток у цій сфері. Його мета – не тільки створювати чудову каву, але й поширювати культуру кавування, сприяючи любові до цього напою у всіх, хто його споживає.

                        Завдяки своїй відданості та професіоналізму, Ігнат Петрович Савчук став справжнім майстром своєї справи, здобувши повагу та вдячність як колег, так і клієнтів кав'ярні.</p>
                </div>
            </div>
        </div>
    </section>
</main>
<footer>
    <p id="footerHome">&copy; 2024 Мій Магазин. Всі права захищені. Aле це не точно.</p>
</footer>
</body>
</html>
