
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Aliespresso</title>
    <link rel="stylesheet" type="text/css" th:href="@{css/portfolioP1.css}">
</head>
<body>
<!-- Шапка -->
<header>
    <div class="header-left">Мій Магазин</div>
    <div class="header-right">
        <a href="/" class="hdr">Головна</a>
        <a href="/shop" class="hdr">Магазин</a>
        <a href="/contacts" class="hdr">Кошик</a>
        <a href="/contacts" class="hdr">Контакти</a>
        <a href="/aboutUs" class="hdr">Про нас</a>
    </div>
</header>
<main>
    <br>
    <br>
    <br>
    <br>
    <section class="products">
        <div class="order-container">
            <div class="product-grid">
                <div class="product-card">
                    <h2 class="topT">Постачальник кави</h2>
                    <img src="/images/p5.jpg" alt="Товар 1">
                    <h3>Ткаченко Владислав Ігорович </h3>
                    <h4>+380934552993</h4>
                    <p>Владислав Ігорович Ткаченко – 35-річний постачальник кави, який завдяки своїй пристрасті до кавової культури та глибоким знанням ринку став незамінним партнером для багатьох кав'ярень. Свою кар'єру Владислав розпочав у кавовій індустрії з невеликої компанії, яка займалася імпортом кавових зерен, і швидко зрозумів, що якість продукту та надійність постачань є ключовими факторами успіху.

                        Владислав відповідально підходить до вибору постачальників кавових зерен. Він особисто відвідує плантації в різних країнах, спілкується з фермерами та вивчає процеси вирощування і збору врожаю. Завдяки цьому він може гарантувати своїм клієнтам стабільну якість кави та прозорість усього виробничого ланцюга.

                        Як постачальник, Владислав завжди прагне забезпечити найкращі умови для своїх партнерів. Він вміло організовує логістику та контролює всі етапи доставки, щоб кавові зерна зберігали свої найкращі властивості. Його професіоналізм та відповідальність зробили його надійним партнером для багатьох кав'ярень, які цінують високу якість продукції та стабільність постачань.

                        Владислав також активно сприяє розвитку культури кавування, організовуючи зустрічі та семінари для барист і кавових ентузіастів.</p>
                </div>
            </div>
        </div>
    </section>
</main>
<footer>
    <p id="footerHome">&copy; 2024 Мій Магазин. Всі права захищені. Aле це не точно.</p>
</footer>
</body>
</html>
