<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Aliespresso</title>
    <link rel="stylesheet" type="text/css" th:href="@{css/portfolioP1.css}">
</head>
<body>
<!-- Шапка -->
<header>
    <div class="header-left">Мій Магазин</div>
    <div class="header-right">
        <a href="/" class="hdr">Головна</a>
        <a href="/shop" class="hdr">Магазин</a>
        <a href="/contacts" class="hdr">Кошик</a>
        <a href="/contacts" class="hdr">Контакти</a>
        <a href="/aboutUs" class="hdr">Про нас</a>
    </div>
</header>
<main>
    <br>
    <br>
    <br>
    <br>
    <section class="products">
        <div class="order-container">
            <div class="product-grid">
                <div class="product-card">
                    <h2 class="topT">Менеджер кав'ярні</h2>
                    <img src="/images/p1.jpg" alt="Товар 1">
                    <h3>Ковальчук Анастасія Ігорівна</h3>
                    <h4>+380969362212</h4>
                    <p>Анастасія, 26-річна молода жінка, цього року стала менеджером кав'ярні. Вона відома своєю відповідальністю та відданістю роботі. Перед тим, як зайняти цю посаду, Анастасія працювала баристою, де здобула глибокі знання про каву та обслуговування клієнтів. Її старанність і професіоналізм зробили її ідеальним кандидатом для керівної ролі. Анастасія прагне забезпечити високий рівень сервісу і створити затишну атмосферу для кожного відвідувача кав'ярні.</p>
                </div>
            </div>
        </div>
    </section>
</main>
<footer>
    <p id="footerHome">&copy; 2024 Мій Магазин. Всі права захищені. Aле це не точно.</p>
</footer>
</body>
</html>
