
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Aliespresso</title>
    <link rel="stylesheet" type="text/css" th:href="@{css/portfolioP1.css}">
</head>
<body>
<!-- Шапка -->
<header>
    <div class="header-left">Мій Магазин</div>
    <div class="header-right">
        <a href="/" class="hdr">Головна</a>
        <a href="/shop" class="hdr">Магазин</a>
        <a href="/contacts" class="hdr">Кошик</a>
        <a href="/contacts" class="hdr">Контакти</a>
        <a href="/aboutUs" class="hdr">Про нас</a>
    </div>
</header>
<main>
    <br>
    <br>
    <br>
    <br>
    <section class="products">
        <div class="order-container">
            <div class="product-grid">
                <div class="product-card">
                    <h2 class="topT">Спеціаліст з обробки кави</h2>
                    <img src="/images/p7.jpg" alt="Товар 1">
                    <h3>Герасимчук Олег Володимирович </h3>
                    <h4>+380961148086</h4>
                    <p>Олег Володимирович Герасимчук – 36-річний спеціаліст з обробки кави, який відомий своєю відданістю справі та глибокими знаннями у сфері кавової індустрії. Його подорож у світ кави розпочалася багато років тому, коли він вперше відвідав кавову плантацію в Центральній Америці. Це враження стало для нього вирішальним і надихнуло на вивчення всіх аспектів обробки кавових зерен.

                        Олег має неперевершене розуміння процесів обробки кави, від митого і натурального методів до новітніх технологій ферментації. Він особисто контролює кожен етап обробки, починаючи з відбору найкращих ягід і закінчуючи їхнім сушінням та сортуванням. Олег відомий своєю увагою до деталей, що дозволяє йому досягати найвищої якості кінцевого продукту.

                        Його професіоналізм і старанність принесли йому визнання серед колег та партнерів. Олег активно співпрацює з місцевими фермерами, навчаючи їх сучасним методам обробки кави та допомагаючи підвищити якість їхньої продукції. Він також регулярно бере участь у міжнародних виставках та конференціях, де ділиться своїм досвідом і вчиться новим методикам.</p>
                </div>
            </div>
        </div>
    </section>
</main>
<footer>
    <p id="footerHome">&copy; 2024 Мій Магазин. Всі права захищені. Aле це не точно.</p>
</footer>
</body>
</html>
