
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Aliespresso</title>
    <link rel="stylesheet" type="text/css" th:href="@{css/portfolioP1.css}">
</head>
<body>
<!-- Шапка -->
<header>
    <div class="header-left">Мій Магазин</div>
    <div class="header-right">
        <a href="/" class="hdr">Головна</a>
        <a href="/shop" class="hdr">Магазин</a>
        <a href="/contacts" class="hdr">Кошик</a>
        <a href="/contacts" class="hdr">Контакти</a>
        <a href="/aboutUs" class="hdr">Про нас</a>
    </div>
</header>
<main>
    <br>
    <br>
    <br>
    <br>
    <section class="products">
        <div class="order-container">
            <div class="product-grid">
                <div class="product-card">
                    <h2 class="topT">Майстер обжарювання кави</h2>
                    <img src="/images/p4.jpg" alt="Товар 1">
                    <h3>Ковтун Арсен Олександрович</h3>
                    <h4>+380976803505</h4>
                    <p>Арсен Олександрович Ковтун – 31-річний майстер обжарювання кави, який завдяки своїй пристрасті до кави та невтомному бажанню вдосконалюватися став справжнім експертом у цій галузі. Свою кар'єру він почав як бариста, де його інтерес до кавових зерен і їхнього обжарювання швидко переріс у захоплення.

                        Арсен з особливою ретельністю підходить до процесу обжарювання кави. Він уважно обирає кожен сорт зерен, досліджує їхнє походження та характеристики, щоб створити ідеальний смаковий профіль. Арсен постійно експериментує з різними техніками обжарювання, прагнучи досягти найкращих результатів. Його увага до деталей і відданість своїй справі забезпечують високу якість кожної партії кави.

                        Як досвідчений майстер, Арсен охоче ділиться своїми знаннями та навичками з іншими. Він регулярно проводить майстер-класи та навчальні сесії, допомагаючи молодим баристам і колегам зрозуміти складнощі та тонкощі процесу обжарювання кавових зерен. Його мета – не лише створювати чудову каву, але й сприяти поширенню культури кавування, надихаючи інших на любов до цього напою.

                        </p>
                </div>
            </div>
        </div>
    </section>
</main>
<footer>
    <p id="footerHome">&copy; 2024 Мій Магазин. Всі права захищені. Aле це не точно.</p>
</footer>
</body>
</html>
