<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Aliespresso</title>
    <link rel="stylesheet" type="text/css" th:href="@{css/portfolioP1.css}">
</head>
<body>
<!-- Шапка -->
<header>
    <div class="header-left">Мій Магазин</div>
    <div class="header-right">
        <a href="/" class="hdr">Головна</a>
        <a href="/shop" class="hdr">Магазин</a>
        <a href="/contacts" class="hdr">Кошик</a>
        <a href="/contacts" class="hdr">Контакти</a>
        <a href="/aboutUs" class="hdr">Про нас</a>
    </div>
</header>
<main>
    <br>
    <br>
    <br>
    <br>
    <section class="products">
        <div class="order-container">
            <div class="product-grid">
                <div class="product-card">
                    <h2 class="topT">Майстер обжарювання кави</h2>
                    <img src="/images/p2.jpg" alt="Товар 1">
                    <h3>Орест Васильович Мельник</h3>
                    <h4>+380934560818</h4>
                    <p>Мельник Орест Васильович – 32-річний майстер обжарювання кави. Свою кар'єру він розпочав як бариста, але завжди прагнув глибше зрозуміти процес створення кави. Завдяки своїй пристрасті до кавової культури та невтомному бажанню вдосконалюватися, Орест швидко піднявся по кар'єрній драбині та здобув повагу колег.

                        Його відповідальність і увага до деталей зробили його незамінним працівником у кав'ярні. Орест ретельно підбирає кожен сорт зерен, стежить за процесом обжарювання і експериментує з новими техніками, щоб досягти ідеального смаку. Він відомий своєю відданістю справі та прагненням забезпечити найвищу якість продукту для кожного клієнта.

                        Орест завжди радий поділитися своїми знаннями з іншими, проводячи майстер-класи та навчальні сесії для молодих барист. Його мета – не лише створювати чудову каву, а й поширювати культуру кавування, допомагаючи іншим зрозуміти та полюбити цей напій.</p>
                </div>
            </div>
        </div>
    </section>
</main>
<footer>
    <p id="footerHome">&copy; 2024 Мій Магазин. Всі права захищені. Aле це не точно.</p>
</footer>
</body>
</html>
