<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8"/>
    <title> тест сторінка</title>
    <link rel="stylesheet" type="text/css" th:href="@{css/shop.css}">

</head>
<header>
    <div class="header-left">Мій Магазин</div>
    <div class="header-right">
        <a href="/" class="hdr">Головна</a>
        <a href="/aboutUs" class="hdr">Про нас</a>
        <a href="/shop" class="hdr">Магазин</a>
        <a href="/contacts" class="hdr">Контакти</a>
    </div>
</header>
<body>
<h1 class="cont la11"> https://shorturl.at/orMTc</h1>
<h1 class="cont la22"> ssssssss</h1>
<h1 class="cont la11"> aaaaaaaa</h1>
<h1 class="cont la22"> xxxxxxxx</h1>
<h1 class="cont la11"> xxxxxxxx</h1>
<h1 class="cont la22"> xxxxxxxx</h1>
<h1 class="cont la11"> xxxxxxxx</h1>
<h1 class="cont la22"> xxxxxxxx</h1>
<h1 class="cont la11"> xxxxxxxx</h1>
</body>

<footer>
    <p>&copy; 2024 Мій Магазин. Всі права захищені. Aле це не точно.</p>
</footer>

</html>




