<!DOCTYPE html>
<head>
    <title>Aliespresso</title>
    <link rel="stylesheet" type="text/css" th:href="@{css/shop.css}">

</head>
<!-- Шапка -->
<header>
    <div class="header-left">Мій Магазин</div>
    <div class="header-right">
        <a href="/" class="hdr">Головна</a>
        <a href="/shop" class="hdr">Магазин</a>
        <a href="/basket" class="hdr">Кошик</a>
        <a href="/contacts" class="hdr">Контакти</a>
        <a href="/aboutUs" class="hdr">Про нас</a>
    </div>
</header>
<body>

<main>

    <section class="products">
        <h2 class="topT">Всі товари</h2>
        <div class="product-grid">
            <div class="product-card">
                <img src="/images/c1.jpg" alt="Товар 1">
                <h3>Movenpick Caffe Crema (1 кг), зерно</h3>
                <p>Ціна: 499 ₴</p>
                <a href="/basket" class="buttonProp">Купити</a>
            </div>
            <div class="product-card">
                <img src="/images/c2.jpg" alt="Товар 1">
                <h3>Кава Julius Meinl President Bohne (500 г), зерно</h3>
                <p>Ціна: 399 ₴</p>
                <a href="/basket" class="buttonProp">Купити</a>
            </div>
            <div class="product-card">
                <img src="/images/c3.jpg" alt="Товар 1">
                <h3>Кава Lavazza Expert Plus Aroma Piu (1 кг), зерно</h3>
                <p>Ціна: 729 ₴</p>
                <a href="/basket" class="buttonProp">Купити</a>
            </div>
            <div class="product-card">
                <img src="/images/c4.jpg" alt="Товар 1">
                <h3>Кава Lavazza Qualita Oro (1 кг), зерно</h3>
                <p>Ціна: 699 ₴</p>
                <a href="/basket" class="buttonProp">Купити</a>
            </div>
            <div class="product-card">
                <img src="/images/c5.jpg" alt="Товар 1">
                <h3>Кава Lavazza Qualita Oro Mountain Grown (250 г), зерно</h3>
                <p>Ціна: 199 ₴</p>
                <a href="/basket" class="buttonProp">Купити</a>
            </div>
            <div class="product-card">
                <img src="/images/c6.jpg" alt="Товар 1">
                <h3>Кофе Dallmayr Ethiopia, зерно (500 г)</h3>
                <p>Ціна: 359 ₴</p>
                <a href="/basket" class="buttonProp">Купити</a>
            </div>
            <div class="product-card">
                <img src="/images/c7.jpg" alt="Товар 1">
                <h3>Melitta Bella Crema Espresso (1 кг), зерно</h3>
                <p>Ціна: 499 ₴</p>
                <a href="/basket" class="buttonProp">Купити</a>
            </div>
            <div class="product-card">
                <img src="/images/c8.jpg" alt="Товар 1">
                <h3>Віденська кава Morena (1 кг), зерно</h3>
                <p>Ціна: 358 ₴</p>
                <a href="/basket" class="buttonProp">Купити</a>
            </div>
            <div class="product-card">
                <img src="/images/c9.jpg" alt="Товар 1">
                <h3>Кава Blaser Ballerina (250 г), зерно</h3>
                <p>Ціна: 330 ₴</p>
                <a href="/basket" class="buttonProp">Купити</a>
            </div>
            <div class="product-card">
                <img src="/images/c10.jpg" alt="Товар 1">
                <h3>Кава Blaser Cote D’azur (250 г), зерно</h3>
                <p>Ціна: 330 ₴</p>
                <a href="/basket" class="buttonProp">Купити</a>
            </div>
            <div class="product-card">
                <img src="/images/c11.jpg" alt="Товар 1">
                <h3>Кава Blaser Ethiopia Sidamo (250 г), зерно</h3>
                <p>Ціна: 395 ₴</p>
                <a href="/basket" class="buttonProp">Купити</a>
            </div>
            <div class="product-card">
                <img src="/images/c12.jpg" alt="Товар 1">
                <h3>Кава Blaser Lilla e Rose (1 кг), зерно</h3>
                <p>Ціна: 1 320 ₴</p>
                <a href="/basket" class="buttonProp">Купити</a>
            </div>
            <div class="product-card">
                <img src="/images/c13.jpg" alt="Товар 1">
                <h3>Кава Blaser Lilla e Rose (250 г), зерно</h3>
                <p>Ціна: 330 ₴</p>
                <a href="/basket" class="buttonProp">Купити</a>
            </div>
            <div class="product-card">
                <img src="/images/c14.jpg" alt="Товар 1">
                <h3>Кава Blaser Opera (250 г), зерно</h3>
                <p>Ціна: 330 ₴</p>
                <a href="/basket" class="buttonProp">Купити</a>
            </div>
            <div class="product-card">
                <img src="/images/c15.jpg" alt="Товар 1">
                <h3>Кава Dallmayr Crema d’Oro Selektion Hakuna Matata (1 кг), зерно</h3>
                <p>Ціна: 549 ₴</p>
                <a href="/basket" class="buttonProp">Купити</a>
            </div>
            <div class="product-card">
                <img src="/images/c16.jpg" alt="Товар 1">
                <h3>Кава Dallmayr Crema Prodomo (1 кг), зерно</h3>
                <p>Ціна: 545 ₴</p>
                <a href="/basket" class="buttonProp">Купити</a>
            </div>
            <div class="product-card">
                <img src="/images/c17.jpg" alt="Товар 1">
                <h3>Кава Dallmayr Crema d´Oro Intensa (1 кг), зерно</h3>
                <p>Ціна: 529 ₴</p>
                <a href="/basket" class="buttonProp">Купити</a>
            </div>
            <div class="product-card">
                <img src="/images/c18.jpg" alt="Товар 1">
                <h3>Кава Caffe Poli Super Bar (1 кг), зерно</h3>
                <p>Ціна: 539 ₴</p>
                <a href="/basket" class="buttonProp">Купити</a>
                ">Купити</a>
            </div>
            <div class="product-card">
                <img src="/images/c19.jpg" alt="Товар 1">
                <h3>Кава Caffe Poli Rosso Tradizione (1 кг), зерно</h3>
                <p>Ціна: 375 ₴</p>
                <a href="/basket" class="buttonProp">Купити</a>
            </div>
            <div class="product-card">
                <img src="/images/c20.jpg" alt="Товар 1">
                <h3>Кава Caffe Poli Oro Vending (1 кг), зерно</h3>
                <p>Ціна: 379 ₴</p>
                <a href="/basket" class="buttonProp">Купити</a>
            </div>
            <div class="product-card">
                <img src="/images/c21.jpg" alt="Товар 1">
                <h3>Кава Caffe Poli Extrabar (1 кг), зерно</h3>
                <p>Ціна: 499 ₴</p>
                <a href="/basket" class="buttonProp">Купити</a>
            </div>
            <div class="product-card">
                <img src="/images/c22.jpg" alt="Товар 1">
                <h3>Кава Caffe Poli Crema Bar (1 кг), зерно</h3>
                <p>Ціна: 409 ₴</p>
                <a href="/basket" class="buttonProp">Купити</a>
            </div>
            <div class="product-card">
                <img src="/images/c23.jpg" alt="Товар 1">
                <h3>Кава Caffe Poli Bar (1 кг), зерно</h3>
                <p>Ціна: 459 ₴</p>
                <a href="/basket" class="buttonProp">Купити</a>
            </div>
            <div class="product-card">
                <img src="/images/c24.jpg" alt="Товар 1">
                <h3>Кава Caffe Poli Arabica (1 кг), зерно</h3>
                <p>Ціна: 609 ₴</p>
                <a href="/basket" class="buttonProp">Купити</a>
            </div>
            <div class="product-card">
                <img src="/images/c25.jpg" alt="Товар 1">
                <h3>Кава Blasercafe Orient, (1 кг), зерно</h3>
                <p>Ціна: 1 320 ₴</p>
                <a href="/basket" class="buttonProp">Купити</a>
            </div>
            <div class="product-card">
                <img src="/images/c26.jpg" alt="Товар 1">
                <h3>Кава illy Monoarabica Colombia (250 г), зерно</h3>
                <p>Ціна: 319 ₴</p>
                <a href="/basket" class="buttonProp">Купити</a>
            </div>
            <div class="product-card">
                <img src="/images/c27.jpg" alt="Товар 1">
                <h3>Кава illy Monoarabica Brazil (250 г), зерно</h3>
                <p>Ціна: 319 ₴</p>
                <a href="/basket" class="buttonProp">Купити</a>
            </div>
            <div class="product-card">
                <img src="/images/c28.jpg" alt="Товар 1">
                <h3>Кава illy Classico Medium Roast (250 г), зерно</h3>
                <p>Ціна: 319 ₴</p>
                <a href="/basket" class="buttonProp">Купити</a>
            </div>
        </div>
    </section>
</main>

<footer>
    <p id="footerHome">&copy; 2024 Мій Магазин. Всі права захищені. Aле це не точно.</p>
</footer>
</body>
</html>
